@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: ;
    /* display: flex; */
}

header {
    background-color: navy;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    font-weight: bold;
}

.links ul {
    color: white;
    text-decoration: none;
    display: inline-flex;
    
}